{% extends 'layouts/main.twig' %}
{% block title %}LUXERIOS FASHION{% endblock %}
{% block content %}
    <div class="promo center">
        <section class="promo__content">
            <h2 class="promo__h2 line__hight_drand">THE BRAND</h2>
            <h3 class="promo__h3">OF LUXERIOUS <span class="promo__color">FASHION</span></h3>
        </section>
    </div>
    <div class="blocks_img center">
        <div class="block__img1 block__img_trans">
            <article class="text__block1 block__text_transform">
                <p class="title_block_img">HOT DEAL</p>
                <h3 class="title_block_img2">FOR MEN</h3>
            </article>
        </div>
        <div class="block__img3 block__img_trans">
            <article class="text__block3 block__text_transform">
                <p class="title_block_img">LUXIROS & TRENDY</p>
                <h3 class="title_block_img2">ACCESORIES</h3>
            </article>
        </div>
        <div class="block__img2 block__img_trans">
            <article class="text__block2 block__text_transform">
                <p class="title_block_img">30% OFFER</p>
                <h3 class="title_block_img2">WOMEN</h3>
            </article>
        </div>
        <div class="block__img4 block__img_trans">
            <article class="text__block4 block__text_transform">
                <p class="title_block_img">NEW ARRIVALS</p>
                <h3 class="title_block_img2">FOR KIDS</h3>
            </article>
        </div>
    </div>
    <div class="clr"></div>
    <section class="fetured center">
        <h3 class="fetured__title">Fetured Items</h3>
        <p class="fetured__text">Shop for items based on what we featured in this week</p>
        <a  class="add__bottom_cart add__bottom_cart_m" href="/good/updateGood/?id={{ good.id }}">Добавить новый товар</a>
        <div class="blocks__position_featured center">
            {% for good in goods %}
                <div class="featured_link">
                    <div class="block__featured">
                        <div class="block__self1"><img src="{{ good.img }}" alt="photo___1"
                                                       class="photo___1 featured__photo">
                            <a href="single_page.html" class="cart__hover"> <img src="img/cart_hover.svg"
                                                                                 alt="cart_hover_img"
                                                                                 class="cart_hover_img">
                                <p class="hover_text">Add to Cart</p>
                            </a>
                        </div>
                        <p class="featured_text">{{ good.name }}</p>
                        <div class="twig_pos">
                            <p class="featured_text2">${{ good.price }}</p>
                            <a href="/good/one/?id={{ good.id }}">info</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <h3 style="color: red">Список пуст</h3>
            {% endfor %}
        </div>
    </section>
    <div class="clearfix"></div>
    <div class="space center">
        <a href="products/productAll" class="button_right">Browse All Product<img src="img/arrow_right.png"
                                                                           alt="arrow_right"
                                                                           class="arrow_right">
        </a>
    </div>
    <aside class="offer_block">
        <div class="left_block_offer">
            <div class="offer_text_box">
                <h1 class="offer_title">30% <span class="special_color_offer">offer</span></h1>
                <p class="offer_text">for women</p>
            </div>
        </div>
        <div class="right_block_offer">
            <div class="right__subblock_offer">
                <img src="img/forma_car.png" alt="forma_car" class="forma_car">
                <div class="offer_text_right">
                    <div class="offer_paragraph1">Free Delivery</div>
                    <div class="offer_paragraph2">Worldwide delivery on&nbsp;all. Authorit tively morph
                        next-generation
                        innov tion with extensive models.
                    </div>
                </div>
            </div>
            <div class="right__subblock_offer">
                <img
                        src="img/forma_sale.png" alt="forma_sale" class="forma_sale">
                <div class="offer_text_right">
                    <div class="offer_paragraph1">Sales&nbsp;&&nbsp;discounts</div>
                    <div class="offer_paragraph2">Worldwide delivery on&nbsp;all. Authorit tively morph
                        next-generation
                        innov tion with extensive models.
                    </div>
                </div>
            </div>
            <div class="right__subblock_offer">
                <img src="img/forma_king.png" alt="forma_king" class="forma_king">
                <div class="offer_text_right">
                    <div class="offer_paragraph1">Quality&nbsp;assurance</div>
                    <div class="offer_paragraph2">Worldwide delivery on&nbsp;all. Authorit tively morph
                        next-generation
                        innov tion with extensive models.
                    </div>
                </div>
            </div>
        </div>
    </aside>
{% endblock %}