{% extends 'layouts/main.twig' %}
{% block title %}{{ good.name }}{% endblock %}
{% block content %}
<h2>{{ good.name }}</h2>
<h3>Цена товара: {{ good.price }}р.</h3>
<h4>Информация о товаре</h4>
<h3>{{ good.info }}</h3>
<a href="/good/updateGood/?id={{ good.id }}">редактировать</a>
    <a href=/basket/add/?id={{ good.id }}">в корзину</a><br><br>
<a href=/good/delGood/?id={{ good.id }}" class="del">удалить товар</a><br><br>
<a href=/good/all">назад</a>
<hr>
{% endblock %}
