{% extends 'layouts/main.twig' %}
{% block title %}Редактирование {{ user.login }}{% endblock %}
{% block content %}
    {% if user.id %}
        <h1 style="color: blue">редактирование пользователя <span>{{ user.login }}</span></h1>
    {% else %}
        <h1 style="color: blue">Создание нового пользователя</h1>
    {% endif %}
    <form method="post" action="/user/getUpdateUser">
        <input name="idForUpdate" value="{{ user.id }}" type="hidden">
        <input name="loginForUpdate" value="{{ user.login }}">
        <input name="nameForUpdate" value="{{ user.name }}"><br><br>
        <input name="passwordForUpdate" value="{{ user.password }}">
        <input name="positionForUpdate" value="{{ user.position }}"><br>
        <p class="adminStat">Расширенные права</p>
        <select name="adminStat" id="adminStat">
            <option value="nothing">Значение не выбрано</option>
            <option value="yes">Да</option>
            <option value="no">Нет</option>
        </select>
        {% if user.id %}
            <input type="submit" value="отредактировать" style="cursor: pointer"><br><br>
        {% else %}
            <input type="submit" value="добавить" style="cursor: pointer"><br><br>
        {% endif %}
        {% if user.id %}
            <a href="/user/one/?id={{ user.id }}">назад</a>
        {% else %}
            <a href="/user/all">назад</a>
        {% endif %}
    </form>
{% endblock %}